form {
    width: 300px;
    overflow:auto;
    border: 2px solid darkgray;
    background-color: white;
    display:flex;
    align-items: left;
    flex-direction: column;  
    padding:10px;
    gap: 5px;
    transition:cubic-bezier(1, 0, 0, 1);
    position: absolute;
    box-shadow: 0px 0px 10px gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offscreen{
    transform: translateY(-100vh);
}

form > div{
    display:flex;
    justify-content: space-between;
}

.media-disp{
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.media-card {
    border: 2px solid darkgray;
    padding:5px;
    margin:5px;
    width: 200px;
    flex-shrink:0;
    height:200px;
}

.card-name {
    font-size: 25px;
    font-weight: bold;
}

.card-creator{
    font-size:15px;
    font-weight: bold;
}

.card-year{
    font-size: 15px;
    color: gray;
    font-style: italic;
}

.card-type{
    font-size:15px;
}

.card-rating{
    font-size:15px;
}